.clear {
    clear: both;
}
.center {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
}
.comBarra {
    color: #2F3542;
    font-family: Ubuntu;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.btn:hover {
    transition: all .4s;
    opacity: .8;
}
.innerInscreva {
    position: absolute;
    width: 83%;
    bottom: 7%;
    left: 0;
    right: 0;
    top: auto;
}
.btnInscreva {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 45px;
    text-align: center;
    line-height: 40px;
    left: 24px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    color: #EF7D00;
    font-weight: 600;
    background: var(--Expand-Palete-US-Grayscale-US-White, #FFFFFF);
    border: 2px solid var(--Brand-Colors-US-Orange-US-Brand-Orange-US, #EF7D00);
    cursor: pointer;
}
.comBarra:before {
    position: relative;
    content: '';
    border-radius: 8px;
    background-color: #EF7D00;
    width: 70px;
    height: 4px;
    display: block;
    top: -17px;
    margin: 0 auto;
}

.bgHome {
    padding: 10%;
    color: #fff;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.encontreCurso {
    padding-bottom: 60px;
}
.modalidades {
    position: relative;
    display: block;
    color: #fff;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    /* text-transform: uppercase; */
    padding-top: 80px;
    padding-bottom: 80px;
    background: var(--Expand-Palete-US-Grayscale-US-Light-Gray-4-US, #F1F2F6);
    text-align: center;
}
.wrapContent {
    padding-top: 50px;
}
.boxEnsino {
    width: 28%;
    display: inline-block;
    border-radius: 16px;
    vertical-align: top;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 310px;
    margin-right: 20px;
}
.boxEnsino1 {
    background: linear-gradient(251deg, #CFEAEF 0%, #076B8F 50%);
}
.BoxEnsino2 {
    background: linear-gradient(251deg, #E5D7E8 0%, #7D378D 50%);
}
.BoxEnsino3 {
    background: linear-gradient(251deg, #FADAE4 0%, #E5457A 50%);
}
.titleBoxEnsino {
    color: #fff;
    font-size: 25px;
}
.modalidadeContent {
    position: relative;
    padding-top: 50px;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    color: #57606F !important;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 166.667% */
}
.nossasUnidades {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
}
.boxUnidade {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 5px;
    padding-top: 25px;
    text-align: center;
    height: 191px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Expand-Palete-US-Grayscale-US-Light-Gray-4-US, #F1F2F6);
    margin-right: 15px;
    margin-left: 15px;
}
.iconMapa {
    width: 30px;
    margin: 10px auto 0 auto;
}
.boxUnidade .unidade {
    font-size: 12px;
}
.titleUnidade {
    font-size: 25px;
    margin-top: -55px;
    margin-bottom: 5px;
}
.wrapPolosD {
    width: 80%;
    position: relative;
    margin: 40px auto;
    height: 80px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Expand-Palete-US-Grayscale-US-Light-Gray-4-US, #F1F2F6);
    cursor: pointer;
    transition: all .4s;
}
.static {
    position: absolute;
    right: 50px;
    top: 28px;
    color: #57606F;
    font-family: Ubuntu;
}
.wrapPolosD .titleUnidade {
    position: relative;
    float: left;
    left: 80px;
    top: 40px;
}
.wrapPolosD .iconMapa {
    position: absolute;
    left: 30px;
    top: 18px;
}
.titleHome {
    color: var(--Expand-Palete-US-Grayscale-US-White, #FFF);
    font-family: Ubuntu;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -70px;
}
.subTitleHome {
    width: 95%;
    max-width: 700px;
}
.findBar {
    padding-top: 40px;
    border-radius: 16px;
    background: var(--Expand-Palete-US-Grayscale-US-White, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
    z-index: 9999999;
    position: relative;
    top: -60px;
    max-width: 850px;
    height: 135px !important;
    margin: 0 auto;
    width: 95%;
    padding-top: 38px;
    padding-bottom: 0 !important;
    text-align: center;
}
.findCurso {
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
    width: 70% !important;
    border-radius: 56px !important;
    border: 2px solid var(--Expand-Palete-US-Grayscale-US-Light-Gray-2-US, #CED6E0) !important;
    background: var(--Expand-Palete-US-Grayscale-US-White, #FFF) !important;
}
.btnFindCurso {
    display: inline-block;
    width: 17%;
    text-align: center;
    padding: 13px 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    border-radius: 48px;
    background: var(--Brand-Colors-US-Orange-US-Brand-Orange-US, #EF7D00);
    color: #fff;
    cursor: pointer;
    transition: all .4s;
}
.filtrosBar {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.lineOne {
    width: 100%;
    height: 60px;
    max-width: 1300px;
    margin: 0 auto;
    display: block;
}
.lineTwo {
    width: 100%;
    height: 140px;
    max-width: 1300px;
    margin: 0 auto;
    display: block;
}
.filtrarPor {
    position: relative;
    float: left;
    left: 2%;
}
.limparFiltros {
    position: relative;
    float: right;
    right: 5%;
    text-decoration: underline;
    cursor: pointer;
}
.btnVerMaisCursos {
    display: block;
    width: 160px;
    padding: 16px 24px;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
    border-radius: 32px;
    border: 1px solid var(--Expand-Palete-US-Grayscale-US-Gray-US, #747D8C);
    cursor: pointer;
}
.innerSelect {
    position: relative;
    display: inline-block;
    width:31%;
    margin-right: 20px;
}
.innerSelect select {
    cursor: pointer;
    border-radius: 56px;
    width: 100%;
    padding-left: 20px;
    border: 2px solid var(--Expand-Palete-US-Grayscale-US-Light-Gray-2-US, #CED6E0);
    background: var(--Expand-Palete-US-Grayscale-US-White, #FFF);
}
.innerSelect label {
    color: #57606F;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: 4px;
    left: 22px;
}
.top10 {
    position: relative;
    padding: 50px;
    background:  #002038;
    color: #fff;
    text-align: center;
}
.sobrePos {
    padding-top: 100px;
    padding-bottom: 50px;
}
.sobrePos .column {
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 50px 4%;
    vertical-align: top;
}
.wrapIcon {
    position: absolute;
    width: 10%;
    left: -40px;
}
.wrapIcon svg {
    width: 100%;
}
.titleColumn {
    position: relative;
    width: 90%;
    margin-top: -30px;
}
.titleColumn:nth-child(1) {
    position: relative;
    width: 90%;
    margin-top: 0;
}
.innerProcurando {
    width: 369px !important;
    height: 153px !important;
    flex-shrink: 0 !important;
    border-radius: 0px 0px 24px 24px !important;
    background: #076B8F !important;
}

/* area de boxes  */
.box-container {
    width: 100% !important;
    text-align: center;
    max-height: 800px;
    overflow-y: hidden;
    transition: all .4s;
}
.box-container.active {
    width: 100% !important;
    text-align: center;
    max-height: 100%;
    overflow-y: none;
    transition: all .4s;
}
.boxColor {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 16px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
}
.bgGreen {
    background: linear-gradient(262deg, #CFEAEF 0%, #076B8F 50%);	
}
.bgRed {
    background: linear-gradient(262deg, #FADAE4 0%, #E5457A 50%);
}
.bgPurple {
    background: linear-gradient(262deg, #E5D7E8 0%, #7D378D 50%);
}
.box-item {
    border-radius: 20px 20px 20px 20px;
    position: relative;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 10px;
    padding: 25px 20px 20px 20px;
    min-height: 380px;
    position: relative;
    padding-bottom: 70zzzzzzzzzpx;
}
.box-item.active {
    display: inline-block;
}
.seloType {
    position: relative;
    display: inline-block;
    width: 43%;
    font-size: 12px;
}
.colorGreen {
    color: #076B8F;
}
.colorRed {
    color: #E5457A;
}
.colorPurple {
    color: #7D378D;
}
.innerMod {
    border-radius: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 8px;
    line-height: 21px;
    border-radius: 16px;
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.innerGreen {
    background:#076B8F  ;
}
.innerRed {
    background:#E5457A  ;
}
.innerPurple {
    background:#7D378D  ;
}
.titleBox {
    margin-top: -30px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 23px;
    overflow-y: hidden;
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.pontinhos {
    content: '...';
    display: none;
    font-size: 12px;
    position: absolute;
    right: 10%;
    top: 22.5%;
}
.categoriaHide {
    display: none;
    position: absolute;
}
.partir {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 13px;
}
.pula {
    height: 0;
    position: relative;
    margin-bottom:-8px;
}
.valorSDesconto, .dezoitoxSDesconto {
    font-size: 14px;
    text-decoration: line-through;
}
.valorCDesconto, .dezoitoxCDesconto {
    font-size: 28px;
    font-weight: 700;
}
.valorCDesconto {
    display: none;
}
.loading {
    position: absolute;
    right: 20%;
    top: 130px;;
}
.loading img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.conteudoBox {
    margin: 0;
    font-size: 14px;
}
.conteudoBox:last-child {
    margin-bottom: 20px;
}
.unidades {
    margin-bottom: 0;
    margin-top: -10px;
    font-size: 14px;
}
.carga {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: -15px;
}
.apenasEAD {
    font-size:13px;
}
.dozexCDesconto {
    display: none;
    font-size: 28px;
    font-weight: 700;
}
/* area de boxes  */

